{% extends "base.html" %}
{% block content %}
<main>
    <div class="checkout-page-container">
        <section class="billing-shipping-form-container">
            <form class="shipping-form">
                <h2>Shipping Details</h2>
                <input class="short-input" type="text" id="checkout-fname" name="fname" placeholder="First name" required>
                <input class="short-input" type="text" id="checkout-lname" name="lname" placeholder="Last name" required><br>
                <input class="long-input" type="text" id="checkout-address" name="address" placeholder="Address" required><br>
                <input class="long-input" type="text" id="checkout-address-2" name="address2" placeholder="Apartment, suite, etc. (optional)"><br>
                <input class="long-input" type="text" id="checkout-city" name="city" placeholder="City" required><br>
                <input class="short-input" type="text" id="checkout-state" name="state" placeholder="State" required>
                <input class="short-input" type="text" id="checkout-zip-code" name="zip-code" placeholder="ZIP code" required><br>
                <input class="long-input" type="email" id="checkout-email" name="email" placeholder="Email" required><br>   
                <input class="long-input" type="text" id="checkout-phone" name="phone" placeholder="Phone (optional)">   
            </form>
        </section>
        <section class="shipping-cost-container">
            <h3>Shipping Method</h3>
            <form action="{{ url_for('auth.checkout') }}" method="post">
                <div class="shipping-option-container">
                    <div class="shipping-option">
                        <input type="radio" id="standard" name="shipping" value="standard" onchange="this.form.submit()" {% if selected_shipping == 'standard' %}checked{% endif %}>
                        <label for="standard">
                            <span class="shipping-type">STANDARD</span>
                            <span class="shipping-time">5-7 business days</span>
                            <span class="shipping-cost">$5.00</span>
                        </label><br>
                    </div>
                    <div class="shipping-option">
                        <input type="radio" id="express" name="shipping" value="express" onchange="this.form.submit()" {% if selected_shipping == 'express' %}checked{% endif %}>
                        <label for="express">
                            <span class="shipping-type">EXPRESS</span>
                            <span class="shipping-time">2-3 business days</span>
                            <span class="shipping-cost">$18.95</span>
                        </label><br>
                    </div>
                    <div class="shipping-option">
                        <input type="radio" id="overnight" name="shipping" value="overnight"  onchange="this.form.submit()" {% if selected_shipping == 'overnight' %}checked{% endif %}>
                        <label for="overnight">
                            <span class="shipping-type">OVERNIGHT</span>
                            <span class="shipping-time">1-2 business days</span>
                            <span class="shipping-cost">$21.95</span>
                        </label>
                    </div>
                </div>
            </form>
        </section>

        <section class="checkout-order-summary-container">
            <h2>Items in Cart</h2>
            <div class="checkout-order-list">
            {% for product in cart_items %}
                <div class="checkout-item">
                    <img src="{{ product['image_path'] }}">
                    <div class="checkout-item-info">
                        <h3 class="checkout-item-name">{{ product['name'] }}</h3>
                        <p class="checkout-qty">QTY: <span>{{ product['quantity'] }}</span></p>
                        <p>Subtotal: <span>${{ "{:.2f}".format(product['subtotal']) }}</span></p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="checkout-final-summary">
                <div class="checkout-row">
                    <h3 class="align-left">Subtotal</h3>
                    <p class="align-right">${{ "{:.2f}".format(total_price) }}</p>
                </div>
                <div class="checkout-row">
                    <h3 class="align-left">Shipping</h3>
                    <p class="align-right">${{ "{:.2f}".format(shipping_cost) }}</p>
                </div>
                <hr class="checkout-line">
                <div class="checkout-row">
                    <h3 class="grand-total">Total</h3>
                    <p class="grand-total">${{ "{:.2f}".format(total_price + shipping_cost) }}</p>
                </div>
                
            </div>
        </section>

        <section class="payment-method-container">
            <div class="credit-card-container">
                <div class="credit-card-prompt">
                    <span>Credit Card</span>
                    <i class="fa-brands fa-cc-visa" style="color: #1d3557;"></i>
                    <i class="fa-brands fa-cc-mastercard" style="color: #1d3557;"></i>
                    <i class="fa-brands fa-cc-amex" style="color: #1d3557;"></i>
                    <i class="fa-brands fa-cc-discover" style="color: #1d3557;"></i>
                </div>
                <input class="long-input" type="tel" inputmode="numeric" pattern="[0-9]{13,19}" maxlength="19" id="credit-card-number" placeholder="Credit Card Number" required><br/>
                <input class="short-input" type ="tel" inputmode="numeric" pattern="[0-9]{2}/[0-9]{2}" maxlength="4" id="credit-card-month" placeholder="MM/YY" required>
                <input class="short-input" type="tel" inputmode="numeric" pattern="[0-9]{3}" maxlength="4" id="credit-card-cvc" placeholder="CVC/CVV" required>
            </div>
        </section>
        <a href="{{ url_for('auth.checkoutConfirmation') }}">
        <input type="submit" value="Place Order" class="place-order-button">
        </a>
    </div>
</main>
{% endblock %}