{% extends "base.html" %}
{% block content %}
<main>
    <div class="shopping-cart-container">  
        <section class="shopping-cart">
            <h2>Shopping Cart</h2>
            {% for product in cart_items %}
            <a href="{{ url_for('shop.product_detail', product_id=product['id']) }}">
                <div class="cart-item">
                    <div class="cart-item-image-container">
                        <img src="{{ product['image_path'] }}">
                    </div>
                    <div class="cart-item-details-container">
                        <h3 class="cart-item-detail">{{ product['name'] }}</h3>
                    </a>
                        <p class="cart-item-detail" id="cart-item-quantity">Qty: {{ product['quantity'] }}</p>
                        <p class="cart-item-detail" id="cart-item-price">Price: {{ product['price'] }}</p><br/>
                        <h4 class="cart-item-detail">Subtotal: {{ product['quantity'] * product['price'] }}</h4>
                        <div class="cart-edit-rmv-container">
                            <br/>
                            <span>Edit</span>
                            <span>Remove</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section class="checkout-box">
            
            <table class="checkout-summary-table">
                <caption>Order Summary</caption>
                <tbody class="checkout-summary-table-body">
                    <tr>
                        <th scope="row">Subtotal</th>
                        <td>$24.99</td>
                    </tr>
                    <tr>
                        <th scope="row">Shipping</th>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">Tax</th>
                        <td>-</td>
                    </tr>
                    <tr class="order-total">
                        <th scope="row">Order Total</th>
                        <td>$24.99</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Continue to Checkout" class="continue-to-checkout-button">
            <div class="secure-payment-container">
                <p>Secure payment with</p>
                <i class="fa-brands fa-cc-visa" style="color: #1d3557;"></i>
                <i class="fa-brands fa-cc-mastercard" style="color: #1d3557;"></i>
                <i class="fa-brands fa-cc-amex" style="color: #1d3557;"></i>
                <i class="fa-brands fa-cc-paypal" style="color: #1d3557;"></i>
            </div>
        </section>
    </div>
</main>
{% endblock %}