{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="login-container">
  <div class="login-box">
    <h2>Log In</h2>
    <div class="login-form-container">
      <form class="login-form" method="post">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
          {% endfor %}
        <label for="username">Username*</label><br>
        <input class="userInfo" name="username" id="username" required><br><br>
        <label for="password">Password*</label><br>
        <input class="userInfo" type="password" name="password" id="password" required><br>
        <div class="login-signup-button-container">
          <input class="login-button" type="submit" value="Log In">
        </div>
      </form>
    </div>
    <hr class="login-hr">
    <div class="redirect-to-sign-up">
      <h3>Don't have an account?</h3>
      <a href="{{ url_for('auth.register') }}">
        <input class="create-account-button" type="submit" value="Create an account">
      </a>
      </div>
  </div>
  <div class="login-image-container">
    <img src="../../static/styles/images/login_background.jpg" id="login-image">
  </div>
</section>
{% endblock %}