{% extends "index.html" %}
{% block content %}
<section class="product-section">
    <h1>{% block content %}Featured Products{% endblock %}</h1>
    
    <ul class="product-container">
        <a href="{{ url_for('product_detail') }}">
            <li class="product">
                <img src="..\static\images\backpacks\blue_bag.jpg">
                <div class="product-rating">
                    <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                    <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                    <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                    <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                    <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                </div>
                <p class="product-name">Backpack #1</p>
                <p class="product-price">$24.99</p>
            </li>
        </a>
        <li class="product">
            <img src="..\static\images\backpacks\darkgray_bag.jpg" style="object-position:100% 90%">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #2</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\gray_bag.jpg">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #3</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\gray2_bag.jpg">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #4</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\grayblue_bag.jpg">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #5</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\green_bag.jpg">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #6</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\leather_bag.jpg">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #7</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\redbrown_bag.jpg" style="object-position:100% 100%">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #8</p>
            <p class="product-price">$24.99</p>
        </li>
        <li class="product">
            <img src="..\static\images\backpacks\yellow_bag.jpg" object-position="15% 15%">
            <div class="product-rating">
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
                <i class="fa-solid fa-star" style="color: #1d3557;"></i>
            </div>
            <p class="product-name">Backpack #9</p>
            <p class="product-price">$24.99</p>
        </li>
    </div>
</section>

<hr>
{% endblock %}
